<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>uBlog It</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body class="bg-secondary">
<!-- Container for Grid-->
  <div class="container-fluid">
      <!--Row for Navigation Bar-->
        <div class="row bg-dark pt-4 pb-3 pr-4 pl-4">
          <header>
            <nav>
                <button id="home" class="btn btn-outline-info btn-sm mr-2">Home</button>
                {{#if loggedIn}}
                <button id="dashboard" class="btn btn-outline-info btn-sm mr-2">Dashboard</button>   
                <button id="logout" class="btn btn-outline-danger btn-sm">Logout</button>   
                {{else}}
                <button id="login" class="btn btn-outline-success btn-sm">Login</button>
                {{/if}}
            </nav>
            <div class="col-12 mt-3">
              <h1 class="text-info">
                  uBlog It
              </h1>
            </div>

            </div>
          </header>
        </div>
        <!--Section for Main Content-->
        <div class="row bg-secondary">
            {{{body}}}
        </div>
        <!--Section for Footer-->
        <div class="row bg-dark mt-3 pt-4 pb-3 pr-4-pl-4 align-self-end justify-content-center">
            <Footer>
                <p class="text-info">Thank you for your cooperation.</p>
            </Footer>
        </div>
        {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
        <script src="/javascript/loggedinbuttons.js"></script>
        {{/if}}
        <script src="/javascript/buttonhandlers.js"></script>
</body>
</html>