<form class="login-form m-3">
    <h2>Returning Users</h2>
    <div class="form-group">
        <label for="username-login">Username:</label>
        <input type="text" id="username-login" />
    </div>
    <div class="form-group">
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
    </div>
  <div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success">Login</button>
  </div>
</form>

<form class="signup-form m-3 ml-5">
    <h2>New Members</h2>
  <div class="form-group">
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div class="form-group">
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success">Signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>