{{> post-info post}}

{{> comments post.comments}}

{{#if loggedIn}}
<div class="row w-100 mb-2 pl-2 justify-content-center">
<form class="comment-form bg-dark pt-3 pl-3 pr-3 border border-dark rounded col-6">
  <div class="form-group">
    <textarea name="comment-body" class="form-control" cols="100"></textarea>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-outline-info" id="add-comment">Add Comment</button>
  </div>
</form>
</div>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}
<script src="/javascript/buttonhandlers.js"></script>